{% extends "base.html" %}
{% block content %}
<div class="post-list">
<section class="post post-preview">
    <div class="post-header">
        <h2 class="post-title">Category: {{ category }}</h2>
    </div>
    <div class="post-content">
        <br />
    </div>
</section>
{% for article in articles %}
    <section class="post post-brief">
        <h3 class="post-title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">
                {{ article.title }}
            </a>
            <time>{{ article.date|strftime("%Y-%m-%d") }}</time>
        </h3>
    </section>
{% endfor %}
{% endblock content%}

