*{
    font-family: "Lucida Bright", "Hiragino Sans GB", 
             "Microsoft YaHei", "微软雅黑", 
             sans-serif;
}

a{
    color: #D00;
    text-decoration: none;
}

a:hover{
    color:#D00;
    text-decoration: underline;
}

@media (min-width: 48em) {
    nav.navi {
        margin: 4em  2em 0;
        text-align: right;
    }
}

@media (max-width: 48em) {
    nav span{
        display:inline-block;
        *display:inline;
        text-align: left;
    }
    .no-mobile{
        display: none;
    }
    .artical{
        padding: 0 1em;
    }
    ol, ul {
        padding: 0px 0px 0px 15px;
    }
}

nav.navi {
    text-transform: uppercase;
}

nav a{
    color: #000;
    display: block;
    text-decoration: none;
    font-family: "Courier New", sans-serif;
    font-size: 1.1em;
    padding: 0.7em 1em;
}

nav a:hover{
    text-decoration: none;
}

.content h2.post-title{
    padding: 1em 0 0.1em 0;
    border-bottom: 1px solid #aaa;
    
}

section.post-brief{
    border-top: 1px solid #CCC;
}

.post-title{
    overflow: hidden;
}
.post-title a{
    color: #000;
}
.post-title a:hover{
    color: #D00;
    text-decoration: none;
}

.post-title time{
    float: right;
    color: #ccc;
}

.content{
    word-break: break-all;
    word-wrap: break-word;
}

.post-meta{
    color: #ccc;
    float: right;
    clear: both;
}
.clear{
    clear:both;
}
.post-more{
    margin-bottom: 1em;
}

div.highlight{
    background-color: #ddd;
}
.post-footer{
    font-size:0.7em;
    float: right;
    text-align:right;
}
.footer{
    padding: 1em 0;
    border-top: 1px solid #ccc;
    text-align: right;
    color: #999;   
}

p img{
    max-width: 100%;
    display: block;
    margin: auto;
}